
node_modules/
dist/
*.log
.env
.env.*.local


*.local
*.cache
*.env.local
.vscode/
.DS_Store
.idea/
*.iml


*.exe
*.out
*.log
*.test
vendor/
bin/
*.exe~
*.exe# 
*.out~
*.out#
*.tmp
*.swp


Thumbs.db
*.DS_Store


.idea/
*.iml